<p>home works!</p>

<mat-toolbar color="primary" class="banner-container">
    <span> My Angular Material Application </span>
</mat-toolbar>

<div class="container-top">

    top
</div>

<div class="nav-bar">
    jhvjbkvhjvkvvj

    <div *ngFor=" let item from navBarText">

        sadadsadadad
        {{item}}
    </div>
    <div class="element" *ngFor="let item from navBarText">

        sadadsadadad
        {{item}}
    </div>


</div>

<div class="container-down">

    <div class="card-i">
        izquierdo
    </div>
    <div class="card-d">
        panel derecho
    </div>


</div>