<p>panel-lection works!</p>
panel donde va el video de la leccion

<div class="barra">

    <div class="barra-a">
        Atenea
    </div>
    <div class="barra-n">
        Noctua
    </div>
</div>

<div class="col-i">


    <div class="card-check">
        <div class="cont-main">
            <div class="video">
                Video

            </div>


            <div class="body-question">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue suscipit ornare. Duis posuere
                interdum vulputate. Aenean auctor orci ac accumsan blandit. Nullam lectus neque, auctor quis tortor
                vel, lobortis rhoncus libero. Maecenas sed vehicula dolor, at tristique nisl. Sed pulvinar est
                porttitor diam facilisis posuere. Nulla commodo, felis sit amet mollis bibendum, leo odio
                sollicitudin lacus, in tristique metus justo at

            </div>



        </div>
        <div class=" btn">
            <button type="submit" class="btn-shape" (click)="goNext()">Siguiente</button>
        </div>



    </div>

    <div class="col-d">

        <div class="card-progress">
            <span class="cont-card">
                <img class="img-g" [src]="skillsCompletes[0].img" />
                <div class="title-g">{{skillsCompletes[0].title}}</div>


            </span>
            <span class="progress">

            </span>
        </div>

        <div class="mochuelo">

            <img src="/assets/MochueloLateral.svg" alt="">
        </div>


    </div>


</div>