/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.title-white{
   color: white;
}

mat-error{
color: #ff5800 !important;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color:  rgba(93, 88, 233);
}


.container{
    padding: 200px;
}

.barra{
    background-color: #5D51CB;
    border-bottom-right-radius: 50px;
    width: 601.99px;
    height: 80px;
}


  html{
    width: 1280px;
    height: 850px;
    background:
    linear-gradient(122deg, #628DFF 50%, #63A7FE 45%) 100% 100%

  }