<div class="bg-claro">
    <div class="bg-shape">
        <div class="barra"> Atenea Capacitacion</div>

        <div class="container">

            <div class="d-flex">

                <div class="container-img">
                    <div>
                        <img class="img" [src]="atenea" alt="Login" />
                    </div>
                    <div class="center-button">

                        <button mat-button mat-raised-button color="primary" class="boton"
                            routerLink="/register">Regístrate</button>
                    </div>

                </div>

                <app-login-card></app-login-card>

            </div>
        </div>
    </div>



</div>