<div class="barra">

    <div class="barra-a">
        Atenea
    </div>
    <div class="barra-n">
        Noctua
    </div>
</div>


<div class="container">

    <div class="d-flex">

        <div>
            <div class="container-img">
                <img class="img" [src]="atenea" alt="Login" />
                <div class="text">
                    Estás listo para utilizar Atenea Noctua, ya puedes elegir un curso para comenzar tu capacitación.
                    <div class="text">

                        ¡Suerte en tu camino hacia la grandeza!
                    </div>
                </div>
                <div class="center-button">


                    <button mat-button mat-raised-button color="primary" class="boton"
                        routerLink="/home">Finalizar</button>
                </div>
            </div>