<div class="barra">

    <div class="barra-a">
        Atenea
    </div>
    <div class="barra-n">
        Noctua
    </div>
</div>

<div class="d-flex">

    <div class="container-img">
        <img class="img" [src]="atenea" alt="Login" />
        <div class="t-h">¡Hola!</div>
        <div class="text" style="margin-bottom: 48px;">
            Mi nombre es Noctu y soy un Mochuelo Europeo, me especializo en el aprendizaje y capacitación de talentos y
            personal de Atenea Mercantil.
            <div class="text">

                Para iniciar realizaremos un test de preguntas sencillas para conocer tus intereses y gustos, esto nos
                permitirá ofrecerte una mayor calidad en los cursos que ofrecemos en nuestra plataforma. ¡Comencemos!
            </div>
        </div>
        <div class="center-button">


            <button mat-button mat-raised-button color="primary" class="boton" routerLink="/skills">Iniciar</button>
        </div>
    </div>
</div>