<p>radio-button-quiz works!</p>
<!-- <mat-toolbar color="primary" class="banner-container">
    <span> My Angular Material Application </span>
</mat-toolbar>

 -->

<div class="barra">

    <div class="barra-a">
        Atenea
    </div>
    <div class="barra-n">
        Noctua
    </div>
</div>

<div class="col-i">


    <div class="card-check">


        <div class="title">Pregunta 1</div>
        <div class="cont-main">

            <div class="body-question">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue suscipit ornare. Duis posuere
                interdum vulputate. Aenean auctor orci ac accumsan blandit. Nullam lectus neque, auctor quis tortor
                vel, lobortis rhoncus libero. Maecenas sed vehicula dolor, at tristique nisl. Sed pulvinar est
                porttitor diam facilisis posuere. Nulla commodo, felis sit amet mollis bibendum, leo odio
                sollicitudin lacus, in tristique metus justo at

            </div>

            <div class="rtl">
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                    [(ngModel)]="anwserQuestion">
                    <mat-radio-button class="example-radio-button tu" *ngFor="let season of seasons" [value]="season">
                        {{season}}
                    </mat-radio-button>
                </mat-radio-group>

            </div>

        </div>
        <div class=" btn">
            <button type="submit" class="btn-shape" (click)="goNext()">Siguiente</button>
        </div>



    </div>

    <div class="col-d">
        <div class="mochuelo">

            <img src="/assets/MochueloLateral.svg" alt="">
        </div>
        <div class="text">
            Responde ahora algunas preguntas asociadas a páneles que seleccionaste antes.

            <div style="margin-top:40px">
                Esto nos dará certeza al
                recomendarte
                cursos para aprender.
            </div>
        </div>

    </div>


</div>